
@include importOnce('project-globals') {

  /* _____ GLOBAL DEFAULTS _____ */
  // Really need to change it

  //*,
  //:before,
  //:after {
  //  -moz-box-sizing: border-box;
  //  -webkit-box-sizing: border-box;
  //  box-sizing: border-box;
  //}

  html {
    font-size: 100%;
    width: 100%;
    height: 100%;
  }

  body {
    @include remIt(font-size, 22);
    line-height: 1.6;
    background: $color-bg;
    font-family: "Cardo", "Droid Serif", "serif";
    width: 100%;
    color: #000;
    min-height: 100%;
    padding-bottom: 50px;
  }

  h1 {
  }

  h2 {
  }

  h3 {
  }

  h4 {
  }

  a,
  a:visited {
    display: inline-block;
    color: $color-link;
    text-decoration:none;

  }
  a:hover {
    color: $color-link-hover;
    text-decoration:underline;
  }

  ul {
    list-style: disc outside;
  }

  b {
    font-weight: bold;
  }

  pre {
    background: #fff;
    padding: 10px;
  }

  p {
    margin: 0 0 20px;
  }

  /* _____ LAYOUT _____ */

}
