/* _____ VARIABLES _____ */

// Generic
// ==========================================================================

$default-borderRadius: 4;
$containerWidth: 760;
$left-nav-width: 200;

$nav-variant: 'base';


// Colors
// ==========================================================================

$color-link: #428bca;
$color-link-hover: #2a6496;
$color-bg: #f3f3f3;
